{
   "inputs": {
      "test": {
         "phase": "EVAL",
         "input_type": "DMN_ListGenerator",
         "relation_file": "../data/ms_v2/ModelInput/dmn_model_input/relation_test.txt.fd",
         "batch_list": 50
      },
      "predict": {
         "phase": "PREDICT",
         "input_type": "DMN_ListGenerator",
         "relation_file": "../data/ms_v2/ModelInput/dmn_model_input/relation_test.txt.fd",
         "batch_list": 50
      },
      "train": {
         "relation_file": "../data/ms_v2/ModelInput/dmn_model_input/relation_train.txt.fd",
         "input_type": "DMN_PairGenerator",
         "batch_size": 50,
         "batch_per_iter": 1,
         "phase": "TRAIN",
         "query_per_iter": 1000,
         "use_iter": false
      },
      "share": {
         "vocab_size": 28139,
         "use_dpool": false,
         "embed_size": 200,
         "target_mode": "ranking",
         "text1_corpus": "../data/ms_v2/ModelInput/dmn_model_input/corpus_preprocessed.txt",
         "text2_corpus": "../data/ms_v2/ModelInput/dmn_model_input/corpus_preprocessed.txt",
         "embed_path": "../data/ms_v2/ModelInput/cut_embed_mikolov_200d_no_readvocab.txt",
         "text1_maxlen": 90,
         "text1_max_utt_num": 10,
         "train_embed": true,
         "text2_maxlen": 90
      },
      "valid": {
         "phase": "EVAL",
         "input_type": "DMN_ListGenerator",
         "relation_file": "../data/ms_v2/ModelInput/dmn_model_input/relation_valid.txt.fd",
         "batch_list": 50
      }
   },
   "global": {
      "optimizer": "adam",
      "num_iters": 500,
      "save_weights_iters": 10,
      "learning_rate": 0.001,
      "test_weights_iters": 200,
      "weights_file": "../data/ms_v2/ModelRes/dmn_cnn.weights",
      "num_batch": 100,
      "num_epochs": 100,
      "model_type": "PY",
      "display_interval": 10
   },
   "outputs": {
      "predict": {
         "save_format": "TREC",
         "save_path": "../data/ms_v2/ModelRes/dmn_cnn.predict.test.txt"
      }
   },
  "losses": [
      {
         "object_name": "rank_hinge_loss",
         "object_params": {
            "margin": 1.0
         }
      }
   ],
   "metrics": [
      "precision@1",
      "recall@1",
      "recall@2",
      "recall@5",
      "map"
   ],
   "net_name": "DMN_CNN",
   "model": {
      "model_py": "dmn_cnn.DMN_CNN",
      "setting": {
         "dropout_rate": 0.6,
         "hidden_size": 100,
         "2d_mpool_sizes": [
            [
               3,3
            ]
         ],
         "2d_kernel_sizes": [
            [
               3,3
            ]
         ],
         "num_conv2d_layers": 1,
         "2d_kernel_counts": [2]
      },
      "model_path": "./models/"
   }
}